/* Stylesheet for the 53 redesign

	Colors:
		White
		Black
		Red highlight
		Contrast button color #ef57d4

	Typefaces being used:
		Monteserrat for main titles 
		eaves for body text

*/


/* Add other notes for the redesign here */



/* This section is for universal selections and rules */

	/* box model Fix */
		html {
			box-sizing: border-box;
		}
		*, *:before, *:after {
			box-sizing: inherit;
		}

	/* clear Fix */

		.row:before,
		.row:after {
			content: " ";
			display: table;
		}

		.row:after {
			clear: both;
		}

	/* image rules */

		img {
			width: 100%;
		}

	/* Type Hierarchy */

		@font-face {
		    font-family: "GT-Super";
		    src: url("../GT-Super/GT-Super-Display-Super.woff2");
		}

		@font-face {
			font-family: "GT-Medium";
			src: url("../GT-Super/GT-Super-Display-Medium.woff2");
		}

		@font-face {
			font-family: "GT-Light";
			src: url("../GT-Super/GT-Super-Display-Regular.woff2");
		}

		body {
			font-family: sans-serif;
			font-size: 24px;
			font-weight: 400;
			background-color: #ffeae7;
		}

		h1 {
			font-family: "GT-Super";
			font-size: 60px;
			margin: 1;
			/* we could also use font-size: 4rem; to get the same size. 
			Ultimatley if we were building a site to be completely 
			responsive then we would want to use this but I am going 
			to use my Figma File as a refernce and they use absolute values
			*/
		}

		h2 {
			font-family: "GT-Super";
			font-size: 36px;
			margin: 0;
		}

		h3 {
			font-family: 'Poppins', sans-serif;
			font-size: 20px;
			font-weight: 400;
			line-height: 1.8rem;
			margin: 0;
		}

		h4 {
			font-family: "GT-Super";
			font-size: 20px;
			font-weight: 300;
			line-height: 1.8rem;
			margin: 0;
		}

		h5 {
			font-family: 'Poppins';
			font-size: 20px;
			font-weight: 300;
			line-height: 1.8rem;
		}

		p {
			font-family: 'Poppins', sans-serif;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.8rem;
			margin: 0;
		}

		a {
			text-decoration: none;
			color: #fff;
			font-family: 'Poppins';
		}

		a:hover {

		}

		ul {
			list-style-type: none;
		}

		.tighten {
			letter-spacing: -0.03em;
		}


/* ===================== Header styles and rules */

	header {
		background-color: #153b84;
		color: #fff;
		position: fixed;
		height: 90px;
		z-index: 4;
		font-size: 0.6em;
	}

	.icon {
		fill:  whitesmoke;
	}

	#logo a {
		display: inline-block;
		padding: 1rem;
		max-width: 120px;
		margin-top: 15px;
	}

	#search {
		display: inline-block;
		border-style: solid;
		border-color: #fff;
		margin-left: 10px;
		padding: 1rem 20px;
		border-radius: 30px;
		width: 310px;
	}

	#search a {
		line-height: 100px;
	}

	header ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 15px;
	}


/* Home Page styles and rules ********************/

	/* homepage hero styles and rules */

		#hero {
			background-image: url("../images/hero1.jpg");
			background-size: cover;
			background-color: red;
			height: 90vh;
		}

		#hero-chunk {
			width: 400px;
			color: #fff;
			margin-top: 200px;
			margin-left: 100px;
		}

		#hero h1 {
			padding-bottom: 16px;
		}

		#hero h5 {
			padding-bottom: 30px;
		}

		a.CTA {
			background-color: #c2402f;
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			padding: 1em 2.5em;
			border-radius: 2em;
		}

	/* homepage mission statemetent styles and rules */
		#mission {
			text-align: center;
			color: #161616;
			width: 680px;
			margin: 80px auto;
			margin-bottom: 160px;
		}

		#mission h2 {
			padding-bottom: 60px;
		}

		#mission p {
			width: 600px;
			margin: 0 auto;
		}

	/* Splash graphic Its the same as a container-fluid section but it doesn't have any content*/ 
		#splash {
			width: 100%;
			height: 100vh;
			margin-top: -100px;
			background-image: url("../images/splash.png");
			background-position: center; /* Center the image */
			background-repeat: no-repeat; /* Do not repeat the image */
			background-size: cover; /* Resize the background image to cover the entire container */
		}

	/* Homepage product feature styles and rules */

		#feature {
			margin-top: -470px;
		}

		.card-chunk span {
			font-family: "GT-Light";
			font-size: 34px;
		}

		.card-chunk h2 {
			margin: 60px 0;
		}

		.card-chunk p {
			margin-bottom: 50px;
		}

		a.CTAtoo {
			font-family: 'Poppins', sans-serif;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			padding: 1em 2.5em;
			border-radius: 2em;
			border-style: solid;
		}

		a.CTAtoo:hover {
			background-color: white;
			color: black;
		}

		#paper {
			background-color: #161616;
			color: #fff;
			width: 95vw;
			height: 720px;
			margin: 0 auto;
			border-radius: 20px;
			margin-bottom: 50px;
			padding: 100px;
			display: grid;
			grid-template-columns: 470px 670px;
			column-gap: 30px;
			overflow: hidden;
		}

		#pencil {
			background-color: #fff;
			color: #161616;
			width: 95vw;
			margin: 0 auto;
			border-radius: 20px;
			padding: 100px;
			display: grid;
			grid-template-columns: 670px 470px;
			column-gap: 30px;
			overflow: hidden;
		}

		#video {
			background-color: black;
			width: 970px;
			margin: -300px auto;
			border-radius: 20px;
			overflow: hidden;
		}

		#video video {
			display: block;
			margin: 0 auto;
		}

		#illust {
			margin-top: -500px;
			height: 570px;
			position: relative;
			overflow: hidden;
			padding: 0;
		}

		#illust h6 {
			font-size: 10px;
			color: #fff;
			position: absolute;
			right: 20px;
			bottom: 0px;
			z-index: -1;
		}

		#illust img{
			
			position: absolute;
			z-index: -2;

		}

		#products a {
			color: #161616;
		}

		#product-grid {
			width: 1170px;
			margin: 50px auto;
			display: grid;
			grid-gap: 30px;
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
		}

		#newsletter {
			height: 20vh;
			margin-top: 40px;
		}

		#newsletter .row {
			margin-bottom: 30px;
		}

		#newsletter .btn {
			background-color: none;
		}

		#newsletter .btn:hover {
			background-color: black;
		}

		.btn {
			border-radius: 50px;
		}


/* About Page styles and rules ********************/

	body#about {
		background-color: #161616;
	}

	#aboutHero {
		background-size: cover;
		background-color: #161616;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 200px;
	}

	#aboutHero h1 {
		color: #fff;
	}

	.fixedHalf {
		width: 50%;
		position: fixed;
		margin-top: -250px;
		margin-left: 25vw;
	}

	.scrollHalf {
		width: 50%;
		margin-left: 50%;
		margin-top: -180px;
		overflow: hidden;
		padding-right: 15%;
	}

	.bright {
		color: #fff;
	}

	.adjust-height {
		line-height: 6rem;
	}


/* PRODUCT PAGE STYLE */

	body#product {
		background-color: #F9F9F9;
}

	#nudge {
		padding-bottom: 40px;
}

					/* HERO STYLE */

						#product {
							background-image: url("../images/pencil1.jpg");
							background-size: 100%;
							background-color: #F9F9F9;
							background-repeat: no-repeat;
							height: 90vh;
						}

						#hero-chunk-2 {
							width: 400px;
						    color: #000341;
						    position: absolute;
						    top: 43%;
						    left: 50%;
						    transform: translate(-50%, -50%);
						    text-align: center;
						}

						#product h1 {
							padding-bottom: 15px;
						}

						#product h5 {
							padding-bottom: 30px;
						}

						a.Order {
							font-family: 'Poppins', sans-serif;
							font-size: 14px;
							font-weight: 400;
							color: black;
							padding: 1em 2.5em;
							border-radius: 2em;
							border-style: solid;
							margin-bottom: 40px;
						}

						a.Order:hover {
							background-color: #000341;
							color: white;
						}

					/* FEATURE CONTENT STYLE */

					#crafted {
						color: #161616;
						width: 800px;
						margin: 50px auto;
						margin-bottom: 100px;
					}

					#crafted h2 {
						padding-bottom: 20px;
						padding-top: 1px ;
					}

					#crafted p {
						width: 600px;
						margin: 0 auto;
					}

					#rectangle {
						background-color: #14213d;
						color: #fff;
						width: 95vw;
						height: 550px;
						margin: 0 auto;
						border-radius: 60px;
						margin-bottom: 100px;
						padding: 100px;
						display: grid;
						grid-template-columns: 470px 670px;
						column-gap: 50px;
						overflow: hidden;
					}

						#rectangle-2 {
						background-color: #14213d;
						color: #fff;
						width: 95vw;
						height: 550px;
						margin: 0 auto;
						border-radius: 60px;
						margin-bottom: 50px;
						padding: 100px;
						display: grid;
						grid-template-columns: 470px 670px;
						column-gap: 70px;
						overflow: hidden;
					}

						#readytowrite {
						color: #161616;
						width: 900px;
						margin: 50px auto;
						margin-bottom: 100px;
					}

						#readytowrite h2 {
							padding-bottom: 20px;
							padding-top: 1px ;
						}

						#readytowrite p {
							width: 500px;
							margin: 0 auto;
						}

						.container-fluid#last {
							padding: 100px 20%;
							background-repeat: no-repeat;
							background-position-y: 100px;
							background-size: 100%;
						}


/* ===================== Footer styles and rules */

	footer {
		background-color: #161616;
		border-radius: 125px 125px 0px 0px;
		color: #fff;
		position: relative;
		z-index: 4;
	}

	footer h4 {
		padding: 2rem;
		font-family: "GT-Light";
	}

	#partners {
		text-align: center;
		color: #fff;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 30px;
		padding: 0 5%;
	}

	#partners ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	footer li {
		text-align: center;
		font-family: 'Poppins';
		font-size: 14px;
		padding-bottom: 15px;
	}


	#foot-links {
		margin-top: 40px;
	}

	#foot-links li:first-child {
		font-weight: 600;
		padding-bottom: 30px;
	}

	#foot-links ul {
		display: flex;
		flex-direction: column;
	}

	#foot-links li {
		text-align: left;
	}

	#foot-links img {
		max-width: 70px;
	}

	#socials {
		display: flex;
		flex-direction: row;
	}

	#legal {
		text-align: right;
	}

	#legal span {
		margin-left: 30px;
	}

	#bottom {
		justify-content: space-between;
		font-size: 12px;
		margin-top: 40px;
		color: antiquewhite;
	}



